*.class
out/
# Package Files #
*.jar
*.war
*.ear
!notifyClient-1.2.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ gubbins
.idea
*.iml
*.ipr
*.iws

#Eclipse
.project

# Maven
target

#Floobits - Intellij Cross-editor real-time collaboration
.floo
.flooignore

bin

.DS_Store
