name: Connector As Provider Pact Tests

on:
  workflow_call:
    inputs:
      consumer:
        description: Name of the consumer app, e.g. frontend
        required: true
        type: string
      consumer_tag:
        description: Consumer tag. This could be branch name ('master'), PR number ('1234') or deploy tag ('test-fargate')
        required: true
        type: string
    secrets:
      pact_broker_username:
        required: true
      pact_broker_password:
        required: true

permissions:
  contents: read


jobs:
  run-connector-as-provider-tests:
    name: Run Connector as Provider
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608
        with:
          repository: alphagov/pay-connector
      - name: Get Provider SHA
        id: get-provider-sha
        run: |
          echo "provider-sha=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
      - name: Set up JDK 11
        uses: actions/setup-java@5ffc13f4174014e2d4d4572b3d74c3fa61aeb2c2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Cache Maven packages
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Pull docker image dependencies
        run: |
          docker pull postgres:11.16
      - name: Run provider pact tests
        run: |
          export MAVEN_REPO="$HOME/.m2"
          mvn test \
          --batch-mode \
          -DrunContractTests \
          -DCONSUMER="${{ inputs.consumer }}" \
          -DPACT_CONSUMER_TAG="${{ inputs.consumer_tag }}" \
          -Dpact.provider.version="${{ steps.get-provider-sha.outputs.provider-sha }}" \
          -Dpact.verifier.publishResults=true \
          -DPACT_BROKER_HOST=pact-broker.deploy.payments.service.gov.uk \
          -DPACT_BROKER_USERNAME="${{ secrets.pact_broker_username }}" \
          -DPACT_BROKER_PASSWORD="${{ secrets.pact_broker_password }}"
